# Deployment definition
apiVersion: v1
kind: Pod
metadata:
  name: fio-pod
spec:
  containers:
  - name: fio
    image: ljishen/fio
    command: ["/bin/sh", "-c"]
    args:
      - |
        
          echo "Running high IOPS workload..."
          fio --name=looprandrw \
              --filename=/data/testfile \
              --size=1G \
              --bs=8k \
              --rw=randrw \
              --rwmixread=70 \
              --iodepth=64 \
              --numjobs=1 \
              --time_based \
              --runtime=1800 \
              --group_reporting;
    volumeMounts:
    - mountPath: /data
      name: fio-volume
  restartPolicy: Always
  volumes:
  - name: fio-volume
    persistentVolumeClaim:
      claimName: fio-pvc
